body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family:'Courier New', Courier, monospace;
	overflow: hidden;
	display: none;
}

.background {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-color: rgba(50, 50, 50, 0.6);

	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}


.dialog {
	font-family:Verdana, Geneva, Tahoma, sans-serif;

	font-size: 0.8vw;

	width: 100%;
	height: 100%;
 
	background-color: rgba(27, 27, 27, 0.719);
    background-repeat: no-repeat;
    background-size: 100;
	overflow: hidden;
}

#other_dialog{
	width:90%;
}

.sidebuttons_background{
    justify-content: center;
    float: left;
	margin-top: 38%;
	margin-left: 1%;
}

.sidebuttons{
    justify-content: center;
    float: left;
	margin-top: 27%;
	margin-left: 1%;
}

.sidebar_option{
    position: relative;

	color:rgba(250, 250, 250, 0.52);
	font-size: 0.8vw;
	text-align: center;
	
	width: 12.5vw;
    height: 1.4vw;


	margin-left: -1.8vw;
	margin-top: -3.3vw;

}

.sidebar_option:hover {
	text-shadow: 0 0 5px white;
	cursor: pointer;
}

.downbar_option{
    position: absolute;

	color:rgba(250, 250, 250, 0.52);
	font-size: 0.8vw;
	text-align: center;
	
	width: fit-content;
    height: 1.4vw;
}

.downbar_option:hover {
	text-shadow: 0 0 5px white;
	cursor: pointer;
}

#downbar_suggest_option {
	margin-left: 7vw;
	margin-top: 33vw;
}

#downbar_info_option {
	margin-left: 8.7vw;
	margin-top: 33vw;
}


#downbar_discord_option {
	margin-left: -0.7vw;
	margin-top: 33vw;
}

#inventory_sidebuttons_logo {
	position: absolute;
	width: 12.0%;
	height: 20%;

	margin-top: -36.5vw;
	margin-left: -0.5vw;

	background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 100;

	background-size: cover;

	opacity: 0.3;
}

#inventory_sidebuttons_background {
	position: absolute;
	width: 14.0%;
	height: 100%;
	margin-top: -38.0vw;
	margin-left: -2.2vw;

	background-size: cover;
	background-color: rgb(1, 1, 5);

	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

#centerinfo{

	margin-top: 37%;
	margin-left: 1%;
    
}

#centerinfo div{
    text-align: center;

}

#selected_user_centerinfo{
    justify-content: center;
    float: center;
	margin-top: 24%;
	margin-left: 1%;
    display: flex;
    justify-content: center;
    align-items: right;
    
}

#selected_user_centerinfo div{
    text-align: center;
    line-height: 40px;   
}


#sidebar_inventory_option:hover {
	text-shadow: 0 0 5px white;
	cursor: pointer;
}

input[type=text], textarea {
	width: 100%; /* Full width */
	padding: 0.2vw; /* Some padding */ 
	background-color: rgb(27, 27, 27, 0.719);
	border-color: rgb(58, 58, 58, 0.719);
	box-sizing: border-box; /* Make sure that padding and width stays in place */

	resize: none /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=suggestion_text] {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: rgba(56, 49, 49, 0.719);
	text-align: left;

	background-color: rgb(27, 27, 27, 0.719);
	border-color: rgb(58, 58, 58, 0.719);
}

input[type=text] {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 15px;
	width: 90%;
	color: rgba(56, 49, 49, 0.719);
	height: 50px;
	text-align: center;
	background-color: rgb(27, 27, 27, 0.719);
	border-color: rgb(58, 58, 58, 0.719);
	margin-left: 5%;
	margin-right: 5%;
}

select[type=field] {
	font-family: "Prototype", serif;
	font-size: 0.6vw;
	width: 90%;
	color: rgba(255, 255, 255, 0.719);
	height: 2.0vw;
	text-align: center;
	background-color: rgb(27, 27, 27, 0.719);
	border-color: rgb(58, 58, 58, 0.719);
	margin-left: 5%;
	margin-right: 5%;
}


button {
	font-family: "Prototype", serif;
	display: block;
	margin-top: 0px;
	padding: 10px;
	background-color: #5f1f1fb9;
	border: 0;
	color: rgba(255, 255, 255, 0.719);
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;

	font-size: 14px;
}

button:hover{

	cursor: pointer;
	background-color: rgb(87, 0, 0);
	box-shadow: 0px 0px 15px rgb(87, 0, 0);
}

.nearbyPlayerButton {
    width: 90%;
    margin-top: 5px;
    display: block;
    text-decoration: none;
    padding: 2px;
    color: rgba(255, 255, 255, 0.85);
	background-color: #310b0bb9;
    text-shadow: none;
    font-size: 14px !important;
    outline: none;
    text-transform: none;
    text-align: center;
    line-height: 30px;
    border: none;
}

.nearbyPlayerButton:hover {
    background-color: rgba(34, 29, 46, 0.8);
}


#playerInventory {
    width: 75vw;
    height: 39vw;

    float: left;

    margin-left: 19vw;
    margin-top: -26vw;
	
    overflow-y: scroll;
	border-radius: 10px;
	
	background: rgba(8, 8, 8, 0.527);
	box-shadow: 0px 4px 10px rgba(27, 53, 122, 0.685);
}

#count {
    border: none;
    outline: none;
    font-size: 18px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
	color: white;

	height: 1.5vw;
    -moz-appearance: textfield;
}

.slot {
    float: left;

    width: 11vw;
    height: 7vw;

    background-color: rgba(0, 0, 0, 0.5);
    margin: 6px;
    position: relative;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(168, 168, 168, 0.253);
	
}

.slot:hover {
    opacity: 0.8;
}


.item-count {
	position: absolute;

    color: rgb(45, 156, 101);
    text-shadow: 0 0 5px rgb(46, 206, 126);
    text-align: left;

	font-size: 0.5vw;
	margin-left: 0.4vw;

	margin-top: -0.2vw;

	text-transform:none;
}

.item,
.item-other {
    width: 10.8vw;
    height: 4.2vw;
	
	margin-top:0.5vw;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.item-name {
	position: absolute;

    color: rgb(177, 177, 177);
    text-shadow: 0 0 5px rgb(177, 177, 177);
	font-size: 0.5vw;

    bottom: 0;
    text-align: left;

    padding-bottom: 0.2vw;
    padding-left: 0.2vw;

    width: 10.65vw;
    min-height: 0.8vw;

	text-transform:none;
    background-color: rgba(1, 0, 47, 0.2);
}

.ui-draggable-dragging .item-name,
.ui-draggable-dragging .item-count {
    display: none;
}


.ammoIcon {
    width: 0.4vw;
    height: 0.4vw;
}

.otherSlot {
    float: left;

    width: 11vw;
    height: 7vw;

    background-color: rgba(0, 0, 0, 0.5);
    margin: 6px;
    position: relative;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(182, 3, 18, 0.253);
	
}

.otherSlot:hover {
    opacity: 0.8;
}

.otherItem,
.otherItem-other {
    width: 10.8vw;
    height: 4.2vw;
	
	margin-top:0.5vw;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.otherItem-name {
	position: absolute;

    color: rgb(177, 177, 177);
    text-shadow: 0 0 5px rgb(177, 177, 177);
	font-size: 0.5vw;

    bottom: 0;
    text-align: left;

    width: 10.8vw;
    min-height: 0.8vw;

	text-transform:none;
}

.otherItem-name-bg {
    width: 100%;
    width: 10vw;
	
    position: absolute;
    bottom: 0;
}

.ui-draggable-dragging .otherItem-name,
.ui-draggable-dragging .otherItem-count {
    display: none;
}

.otherItem-count {
	position: absolute;

    color: rgb(45, 156, 101);
    text-shadow: 0 0 5px rgb(46, 206, 126);
    text-align: left;

	font-size: 0.5vw;
	margin-left: 0.4vw;

	margin-top: -0.3vw;

	text-transform:none;
}


#playerShortcuts {
    position: absolute;

    margin-left: 23.5vw;
    margin-top: 41.5vw;

    width: 100%;

    overflow: hidden;
}

#playerInventory::-webkit-scrollbar-track {
    background-color: none;
    border: none;
}

#playerInventory::-webkit-scrollbar {
    width: 10px;
	background: rgba(24, 24, 24, 0);
}

#playerInventory::-webkit-scrollbar-thumb {
	background: rgba(121, 29, 29, 0.527);
    border: 2px solid rgba(0, 0, 0, 1);
}

#otherPlayerInventory {
    width: 55.3%;
    height: 54%;
    float: left;
    margin-left: 15vw;
    margin-top: -30vw;
    overflow-y: scroll;
	border-radius: 10px;
	background: rgba(8, 8, 8, 0.527);
	box-shadow: 0px 4px 10px rgba(122, 122, 122, 0.685);
}

#otherPlayerInventory::-webkit-scrollbar-track {
    background-color: none;
    border: none;
}

#otherPlayerInventory::-webkit-scrollbar {
    width: 10px;
	background: rgba(24, 24, 24, 0);
}

#otherPlayerInventory::-webkit-scrollbar-thumb {
	background: rgba(121, 29, 29, 0.527);
    border: 2px solid rgba(0, 0, 0, 1);
}

.shortcut-slot1 {
	position: relative;
    float: left;

    width: 11vw;
    height: 7vw;
	
    background-color: rgba(0, 0, 0, 0.685);
	background-repeat: no-repeat;
	background-size: auto;

    margin: 1vw;
	border: 1px rgba(255, 255, 255, 0.233) solid;
	border-radius: 0%;
	
}

.shortcut-slot1:hover {
    opacity: 0.8;
}

.shortcut-slot2 {
	position: relative;
    float: left;

    width: 11vw;
    height: 7vw;

    background-color: rgba(0, 0, 0, 0.685);
    margin: 1vw;
	border: 1px rgba(255, 255, 255, 0.233) solid;
	border-radius: 0%;
}

.shortcut-slot2:hover {
    opacity: 0.8;
}

.shortcut-slot3 {
	position: relative;
    float: left;

    width: 11vw;
    height: 7vw;

    background-color: rgba(0, 0, 0, 0.685);
    margin: 1vw;
	border: 1px rgba(255, 255, 255, 0.233) solid;
	border-radius: 0%;
}

.shortcut-slot3:hover {
    opacity: 0.8;
}

.shortcut-slot4 {
	position: relative;
    float: left;

    width: 11vw;
    height: 7vw;

    background-color: rgba(0, 0, 0, 0.685);
    margin: 1vw;
	border: 1px rgba(255, 255, 255, 0.233) solid;
	border-radius: 0%;
}

.shortcut-slot4:hover {
    opacity: 0.8;
}

.shortcut-slot5 {
	position: relative;
    float: left;

    width: 11vw;
    height: 7vw;

    background-color: rgba(0, 0, 0, 0.685);
    margin: 1vw;
	border: 1px rgba(255, 255, 255, 0.233) solid;
	border-radius: 0%;
}

.shortcut-slot5:hover {
    opacity: 0.8;
}


#playerButtons {
	position: absolute;

    margin-top: 38vw;
    margin-left: 46.2vw;

    width: fit-content;
	padding: 2vw 0;
    height: 0vw;

    overflow: hidden;
}

#give {
    text-transform: uppercase;
    color: gray;

	margin-right: 2vw;
	background:#0000009a;
    text-shadow: 0 0 5px rgba(70, 70, 70, 0.178);
	border: 1px solid #bdbdbdd7;
    opacity: 0.3px;
}

#give:hover {
    cursor: pointer;
	box-shadow:0 0 15px #6464647e;
}


#drop {
    text-transform: uppercase;
    color: gray;
	margin-left: 2vw;

	background:#0000009a;
    text-shadow: 0 0 5px rgba(70, 70, 70, 0.178);
	border: 1px solid #bdbdbdd7;
    opacity: 0.3px;
}

#drop:hover {
    cursor: pointer;
	box-shadow:0 0 15px #6464647e;
}


#secondInventory {
	position: absolute;

    width: 43%;
    height: 54%;
    float: left;
    margin-left: 56vw;
    margin-top: 12vw;
    overflow-y: scroll;
	border-radius: 10px;
	background: rgba(8, 8, 8, 0.527);
	box-shadow: 0px 4px 10px rgba(27, 53, 122, 0.685);
}

#secondInventory::-webkit-scrollbar-track {
    background-color: none;
    border: none;
}

#secondInventory::-webkit-scrollbar {
    width: 10px;
	background: rgba(24, 24, 24, 0);
}

#secondInventory::-webkit-scrollbar-thumb {
	background: rgba(121, 29, 29, 0.527);
    border: 2px solid rgba(0, 0, 0, 1);
}

.secondSlot, .secondPlayerSlot {
    float: left;

    width: 9vw;
    height: 5vw;

    background-color: rgba(0, 0, 0, 0.5);
    margin: 6px;
	margin-top: 1vw;
	margin-left: 0.5vw;
    position: relative;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(204, 204, 204, 0.253);
	
}

.secondSlot:hover, .secondPlayerSlot:hover {
    opacity: 0.8;
}

.secondItem, .secondPlayerItem,
.secondItem-other, .secondPlayerItem-other {
    width: 8.8vw;
    height: 3.2vw;
	
	margin-top:0.5vw;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.secondItem-name, .secondPlayerItem-name {
	position: absolute;

    color: rgb(177, 177, 177);
    text-shadow: 0 0 5px rgb(177, 177, 177);
	font-size: 0.5vw;

    bottom: 0;
    text-align: left;
	margin-left: 5%;
    width: 10.8vw;
    min-height: 0.8vw;

	text-transform:none;
}

.secondItem-name-bg, .secondPlayerItem-name-bg {
    width: 100%;
    width: 10vw;
	
    position: absolute;
    bottom: 0;
}

.ui-draggable-dragging .secondItem-name,
.ui-draggable-dragging .secondPlayerItem-name,
.ui-draggable-dragging .secondItem-count {
    display: none;
}

.secondItem-count, .secondPlayerItem-count {
	position: absolute;

    color: rgb(45, 156, 101);
    text-shadow: 0 0 5px rgb(46, 206, 126);
    text-align: left;

	font-size: 0.5vw;
	margin-left: 0.4vw;

	margin-top: -0.3vw;

	text-transform:none;
}


#secondCount {
	margin-left: 1vw;
	position: absolute;
}


#secondInventoryHeader {
	position: absolute;
	color:rgb(170, 170, 170);

	font-size: 0.8vw;
    width: fit-content;
    height: 1.2vw;
    top: 19%;
    left: 75%;

}

#secondInventoryTransactionImage {
	position: absolute;
	width: 10.0%;
	height: 20%;

	margin-top: 18vw;
	margin-left: 44.8vw;

	background-image: url(../img/transaction.png);
    background-repeat: no-repeat;
    background-size: 100;

	background-size: cover;

	opacity: 0.7;
}

#secondPlayerInventory {
	position: absolute;
    width: 43%;
    height: 54%;
    float: left;
    margin-left: 1vw;
    margin-top: 12vw;
    overflow-y: scroll;
	border-radius: 10px;
	background: rgba(8, 8, 8, 0.527);
	box-shadow: 0px 4px 10px rgba(27, 53, 122, 0.685);
}


#secondPlayerInventory::-webkit-scrollbar-track {
    background-color: none;
    border: none;
}

#secondPlayerInventory::-webkit-scrollbar {
    width: 10px;
	background: rgba(24, 24, 24, 0);
}

#secondPlayerInventory::-webkit-scrollbar-thumb {
	background: rgba(121, 29, 29, 0.527);
    border: 2px solid rgba(0, 0, 0, 1);
}


#controls {
    /* width: 300px;
    height: 600px;
    float: left;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0; */
}

.controls-div {
    position: absolute;
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

.control {
    height: 30px;
	text-align: left;
	line-height:28px;
	text-transform:none;
	/* width: 150px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px; */
}

.control-button {

	font-size: 0.6vw;
	width: 5vw;
    height: 1vw;

	text-align: center;
	border-radius:0px;
    background-color: rgba(0, 0, 0, 0.6);

}

.control.disabled {
    background-color: rgba(0, 0, 0, 0.1);
}

.hoverControl {
    background-color: rgba(31, 31, 31, 0.589);
	user-select: none;
}


.item-name-bg {
    width: 100%;
    width: 10vw;
	
    position: absolute;
    bottom: 0;
}

#header{
	position: absolute;

	color:rgb(195, 194, 194);

	font-size: 1vw;

    width: fit-content;
    height: fit-content;

	margin-top: -32vw;
	margin-left: 15vw;
    overflow: hidden;
}
 
#header_description {
	position: absolute;

	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color:rgb(131, 131, 131);

	font-size:0.7vw;

    width: 10vw;
    height: 1.5vw;

	margin-top: -82vw;
	margin-left: 65vw;
}

#header_avatar {
	position: absolute;

	color:rgb(195, 194, 194);

	font-size: 1vw;

    width: fit-content;
    height: fit-content;

	margin-top: -32vw;
	margin-left: 15vw;
    overflow: hidden;
}

#header_other_avatar {
	position: absolute;

	color:rgb(195, 194, 194);

	font-size: 1vw;

    width: fit-content;
    height: fit-content;

	margin-top: -32vw;
	margin-left: 15vw;
    overflow: hidden;
}


#header_character_stats {
	position: absolute;

	color:rgb(195, 194, 194);

	font-size: 0.9vw;

    width: fit-content;
    height: fit-content;

	margin-top: -4vw;
	margin-left: 15vw;
}

 
#header_character_stats_description {
	position: absolute;

	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color:rgb(195, 194, 194);

	font-size: 0.6vw;

    width: fit-content;
    height: fit-content;

	margin-top: -2.5vw;
	margin-left: 15vw;
}

.header_character_stats_option {
	background-color: rgb(7, 7, 7);
	color:rgb(67, 100, 190);

	border: 2px rgb(49, 49, 49) solid;
	border-radius: 5%;
    overflow: hidden;

	font-size: 0.7vw;
	text-align: center;

	width: 10vw;
    height: fit-content;

}


#header_character_stats_money_title {
	position: absolute;

	margin-top: -1.5vw;
	margin-left: 15vw;
}

#header_character_stats_bank_title {
	position: absolute;

	margin-top: -1.5vw;
	margin-left: 25vw;
}


#header_character_stats_black_money_title {
	position: absolute;

	margin-top: -1.5vw;
	margin-left: 35vw;
}

#header_character_stats_result_background {
	position: absolute;
	background-color: rgb(20, 20, 20);

	width: 30vw;
    height: 1vw;
	margin-top: 0vw;
	margin-left: 15vw;

	border: 2px rgb(49, 49, 49) solid;
	border-radius: 5%;
    overflow: hidden;
}

.header_character_stats_count {
	position: absolute;
	color:rgb(92, 190, 67);

	font-size: 0.6vw;

	text-align: center;

	width: 10vw;
	height: fit-content;
}


#header_character_stats_money {
	margin-top: 0.1vw;
	margin-left: 15vw;
}

#header_character_stats_bank {
	margin-top: 0.1vw;
	margin-left: 25vw;
}


#header_character_stats_blackmoney {
	margin-top: 0.1vw;
	margin-left: 35vw;
}


.avatar_parent {
	position: relative;
	top: 0;
	left: 0;
}

.selected_user_avatar_image {
	position: absolute;

	width: 7vw;
	height: 7vw;

    top: -35vw;
    left: 85vw;

	border: 5px rgb(47, 4, 0) solid;
	border-radius: 50%;
	opacity: 0.7;

}


#selected_user_avatar_url_input {

	font-size:14px;
    width: 296px;
    height: 40px;
    top: -1437.0px;
    left: 530px;
    position: relative;
}


#other_header_character_stats {
	position: absolute;

	color:rgb(195, 194, 194);

	font-size: 0.9vw;

    width: fit-content;
    height: fit-content;

	margin-top: 1vw;
	margin-left: 15vw;
}

 
#other_header_character_stats_description {
	position: absolute;

	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color:rgb(195, 194, 194);

	font-size: 0.6vw;

    width: fit-content;
    height: fit-content;

	margin-top: 2.4vw;
	margin-left: 15vw;
}

.other_header_character_stats_option {
	position: absolute;
	
	background-color: rgb(7, 7, 7);
	color:rgb(67, 100, 190);
	font-size: 0.6vw;

	border: 2px rgb(49, 49, 49) solid;
	border-radius: 5%;
    overflow: hidden;

	margin-top: 4vw;

	text-align: center;

	width: 10vw;
    height: fit-content;
}

#other_header_character_stats_money_title {
	margin-left: 15vw;
}

#other_header_character_stats_bank_title {
	margin-left: 25vw;
}


#other_header_character_stats_black_money_title {
	margin-left: 35vw;
}


.other_header_character_stats_count {
	position: absolute;
	color:rgb(92, 190, 67);

	margin-top: 7.5vw;

	font-size: 0.6vw;

	text-align: center;

	width: 10vw;
    height: fit-content;
}



#selected_user_header_character_stats_money {
	background-color: rgb(49, 49, 49);

	margin-left: 15vw;

	border: 2px rgb(20, 20, 20) solid;
	border-radius: 5%;
    overflow: hidden;
}

#selected_user_header_character_stats_bank {
	background-color: rgb(49, 49, 49);

	margin-left: 25vw;

	border: 2px rgb(20, 20, 20) solid;
	border-radius: 5%;
    overflow: hidden;
}


#selected_user_header_character_stats_blackmoney {
	background-color: rgb(49, 49, 49);
	margin-left: 35vw;

	border: 2px rgb(20, 20, 20) solid;
	border-radius: 5%;
    overflow: hidden;
}



#selected_user_header_character_refresh {
	color:rgb(38, 45, 146);
	background-color: rgb(7, 7, 7);
	font-size:18px;
	width: 150px;
    height: 40px;
    top: -684.0px;
    left: 860px;
    position: absolute;
	border: 2px rgb(49, 49, 49) solid;
	border-radius: 5%;
    overflow: hidden;
}

#selected_user_header_character_refresh:hover {
	cursor: pointer;
	text-shadow: 0 0 5px blue;
}


.avatar_image {
	position: absolute;

	width: 7vw;
	height: 7vw;

    top: -35vw;
    left: 85vw;

	border: 5px rgb(47, 4, 0) solid;
	border-radius: 50%;
	opacity: 0.7;

}


#avatar_url_input {
	position: absolute;
	font-size: 0.6vw;
	color: snow;

    width: 10vw;
    height: 1.2vw;

    margin-top: -26vw;
    margin-left: 84vw;
}

#avatar_url_set {
	position: absolute;
	font-size: 0.6vw;

	text-align: center;

    width: 7vw;
    height: fit-content;

    margin-top: -24vw;
    margin-left: 85.5vw;
}


#usersranking_main{
	background-color: rgba(7, 7, 7, 0.65);
	width: 90%;
	height: 8.5%;
	color: white;
	display: inline-block;
	flex: 0 0 auto;
	max-height: 100%;
	margin: 1.8%;
	/* background-size: 100%; */
}

#usersranking_det{
	border-radius: 0px;
	background-color: rgba(7, 7, 7, 0.65);
	border: 1px solid rgba(182, 3, 18, 0.253);
	box-shadow: 0px 4px 10px rgba(182, 3, 18, 0.253);
	height: 105%;
}

.usersranking_avatar_parent {
	position: relative;
	top: 0;
	left: 0;
}


.usersranking_avatar {
	position: absolute;
	width: 50px;
	height: 50px;
	top : -45.0px;
	left: 5px;
	border: 2px rgb(47, 4, 0) solid;
	border-radius: 50%;
	opacity: 0.7;

}

#usersranking_avatar:hover {
	cursor: pointer;
	text-shadow: 0 0 5px white;
}

#usersranking_header_description {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color:rgb(131, 131, 131);

	font-size:18px;
    width: 400px;
    height: 40px;
    top: -820.8px;
    left: 252.5px;
    position: relative;

    overflow: hidden;
}

#usersranking_id_display{
	background-color: rgba(7, 7, 7, 0.438);
	color: rgba(109, 109, 109, 0.712);
	font-size: 12px;
	margin-right: 0%;
	margin-left: 0%;
	border: 1px solid rgba(182, 3, 18, 0.153);
	box-shadow: 0px 4px 10px rgba(182, 3, 18, 0.153);
	width: 200px;
}

#ticket_option {
	position: absolute;

	font-size: 0.8vw;

    width: 20vw;
    height: 1.5vw;

    top: 20vw;
    left: 45vw;

}

#ticket_reason_description {

	position: absolute;
	color: snow;
	font-size: 0.6vw;

    width: 18vw;
    height: 1.5vw;

    top: 24vw;
    left: 41vw;
}

#ticket_create {
	position: absolute;
	text-align: center;

	font-size: 0.5vw;

    width: 10vw;
    height: 1.5vw;
    top: 27vw;
    left: 45vw;

}

#ticket_category_manage{
	position: absolute;

	color:rgb(155, 155, 155);

	font-size: 0.7vw;
	text-align: center;

	width: 10vw;
    height: 1vw;

    top: 50vw;
    left: 85vw;

	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0.1vw;

	border: 1px solid rgba(129, 129, 129, 0.253);
	box-shadow: 0px 4px 10px rgba(129, 129, 129, 0.253);
}

#ticket_category_manage:hover {
	cursor: pointer;
	text-shadow: 0 0 5px white;
}

#ticket_category_refresh{
	position: absolute;

	color:rgb(155, 155, 155);

	font-size: 0.7vw;
	text-align: center;

	width: 10vw;
    height: 1vw;

    top: 50vw;
    left: 85vw;

	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0.1vw;

	border: 1px solid rgba(129, 129, 129, 0.253);
	box-shadow: 0px 4px 10px rgba(129, 129, 129, 0.253);
}

#ticket_category_refresh:hover {
	cursor: pointer;
	text-shadow: 0 0 5px white;
}

#ticket{
	
	width: 70%;
	height: 80%;

	margin-top: -35vw;
    margin-left: 11vw;

	overflow-y: auto;
	overflow-x: hidden;
	display: inline-block;
	
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(110, 110, 110, 0.253);
  } 

#ticket_main{
	width: 90%;
	height: 30%;
	color: white;
	display: inline-block;
	flex: 0 0 auto;
	max-height: 100%;
	margin: 1.8%;
	/* background-size: 100%; */
}

#ticket_det{
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.041);
	border: 1px solid rgba(182, 3, 18, 0.253);
	box-shadow: 0px 4px 10px rgba(182, 3, 18, 0.253);
	height: 105%;
}

#ticket_player_report_dnt{
	color: rgba(170, 39, 39, 0.712);
	font-size: 0.7vw;
	margin-right: 0%;
	margin-left: 0%;
}



#ticket_player_report_reason{
	color: rgba(175, 175, 172, 0.712);
	font-size: 0.9vw;
}

#ticket_player_report_description{
	color: rgba(175, 175, 172, 0.712);
	font-size: 0.8vw;
}


.ticket_player_report_avatar_parent {
	position: relative;
	top: 0;
	left: 0;
}


#ticket_teleport{
	background-color: rgba(114, 28, 28, 0.712);
	color: rgba(175, 175, 172, 0.712);
	width: fit-content;
	border-radius: 0px;

	width: 10vw;

	font-size: 0.7vw;
	margin-left: 82%;
	margin-top: 2.5vw;
}

#ticket_teleport:hover{
	cursor: pointer;
	background-color: rgba(51, 54, 51, 0.685);
}

#ticket_state{
	background-color: rgba(114, 28, 28, 0.712);
	color: rgba(175, 175, 172, 0.712);
	width: fit-content;

	border-radius: 0px;
	width: 10vw;

	font-size: 0.7vw;
	margin-left: 82%;
	margin-top: 0.5vw;
}

#ticket_state:hover{
	cursor: pointer;
	background-color: rgba(51, 54, 51, 0.685);
}

#userslist{
    width: 75vw;
    height: 39vw;

    float: left;

    margin-left: 19vw;
    margin-top: -28vw;
	
    overflow-y: scroll;
	border-radius: 10px;
	
	background: rgba(8, 8, 8, 0.527);
	box-shadow: 0px 4px 10px rgba(143, 143, 143, 0.253);
  } 

#userslist_main{
	color: white;

	width: 92.5%;
	height: 2.8%;

	flex: 0 0 auto;

	max-height: 100%;

	margin: 1.8%;
	margin-left: 3.0vw;

	/* background-size: 100%; */
	background-color: rgba(7, 7, 7, 0.65);
	border: 1px solid rgba(129, 129, 129, 0.253);
	box-shadow: 0px 4px 10px rgba(129, 129, 129, 0.253);
}

#userslist_header_description {
    position: absolute;
	color:rgb(90, 90, 90);

	font-size: 1vw;
    width: fit-content;
    height: fit-content;

    margin-left: 19vw;
    margin-top: -34.5vw;
}

#userslist_header_jobs_background {
	position: absolute;

    width: 75vw;
    height: 2.0vw;

    margin-left: 19vw;
    margin-top: -32.5vw;

	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0.1vw;

	border: 1px solid rgba(129, 129, 129, 0.253);
	box-shadow: 0px 4px 10px rgba(129, 129, 129, 0.253);
}

#userslist_header_jobs {
	position: absolute;

	color:rgb(187, 187, 187);

	text-align: left;
	font-size: 0.7vw;
	
    width: fit-content;
    height: fit-content;

    margin-left: 19vw;
    margin-top: -32vw;

}

#userlist_name_display{
	position: absolute;

	width: 12vw;
	margin-left: -32.0vw;

	color: rgba(228, 228, 228, 0.712);

	text-align: center;

	font-size: 0.65vw;
}

#userlist_name_display:hover {
	cursor: pointer;
	text-shadow: 0 0 5px white;
}

.userlist_displays {

	color: rgba(228, 228, 228, 0.712);
	text-align: center;

	font-size: 0.65vw;
}

#userlist_username_display{
	position: absolute;
	width: 12vw;
	margin-left: -12.5vw;
}

#userlist_id_display{
	position: absolute;
	width: 12vw;
	margin-left: 5vw;
}

#userlist_ping_display{
	position: absolute;
	width: 12vw;
	margin-left: 21vw;
}

.userlist_header_style {
	position: absolute;

	text-align: center;
	color:rgb(182, 50, 50);
	text-shadow: 0 0 5px rgb(182, 50, 50);

	font-size: 0.7vw;

	width: 6vw;
    height: 1vw;

	background: rgba(8, 8, 8, 0.527);
	box-shadow: 0px 0.5px 5px rgba(121, 120, 120, 0.164);
	border-radius: 5%;
    overflow: hidden;
}

#userslist_steamname_header{
	margin-top: -29.05vw;
	margin-left: 27.8vw;
}

#userslist_username_header{
	margin-top: -29.05vw;
	margin-left: 47vw;
}

#userslist_id_header{
	margin-top: -29.05vw;
	margin-left: 64.5vw;
}

#userslist_ms_header{
	margin-top: -29.05vw;
	margin-left: 80.5vw;
}


#suggestions_background {
	position: absolute;
	background-color: rgb(20, 20, 20);

	width: 40vw;
    height: 20vw;
	margin-top: -35vw;
	margin-left: 15vw;

	border: 0px rgb(49, 49, 49) solid;
    overflow: hidden;
}

#suggestions_description_header{
	position: absolute;

	color:rgb(195, 194, 194);

	font-size: 0.8vw;

    width: fit-content;
    height: fit-content;

	margin-top: -33vw;
	margin-left: 17.4vw;
    overflow: hidden;
}

#suggestions_description_about {

	position: absolute;
	color: snow;
	font-size: 0.6vw;
    width: 35vw;
    height: 1.2vw;

	margin-top: -30vw;
	margin-left: 16.5vw;

	resize: none;
}

#suggestions_description {

	position: absolute;
	color: snow;
	font-size: 0.6vw;
    width: 35vw;
    height: 8.2vw;
	padding-bottom: 6%;
	margin-top: -28vw;
	margin-left: 16.5vw;
	overflow-wrap: break-word;  
    word-wrap: break-word; 
    word-break: break-word;
}

#suggestions_create {
	position: absolute;
	text-align: center;

	font-size: 0.5vw;

    width: 7vw;
    height: 1.5vw;

	margin-top: -19vw;
	margin-left: 17.5vw;

}

#info_background {
	position: absolute;
	background-color: rgba(1, 1, 5, 0.87);

	width: 82vw;
    height: 44vw;
	margin-top: -30vw;
	margin-left: 15.3vw;

	border: 0px rgb(49, 49, 49) solid;
    overflow: hidden;
}

#info_options_background {

	position: absolute;
	background-color: rgba(1, 1, 5, 0.87);

	width: 82vw;
	height: 3vw;
	margin-top: -34vw;
	margin-left: 15.3vw;

	border: 0px rgb(49, 49, 49) solid;
	overflow: hidden;
}

.info_options{
    position: absolute;

	color:rgba(250, 250, 250, 0.52);
	font-size: 0.8vw;
	text-align: center;
	
	width: fit-content;
    height: 1.4vw;
}

.info_options:hover {
	text-shadow: 0 0 5px white;
	cursor: pointer;
}

#info_commands_option {
	margin-top: -33vw;
	margin-left: 16.8vw;
}

#info_keybinds_option {
	margin-top: -33vw;
	margin-left: 36.8vw;
}

#info_commands_and_keybinds{
	position: absolute;

	color:rgb(119, 119, 119);

	text-align: left;

	font-size: 0.7vw;

    width: fit-content;
    height: fit-content;

	margin-top: -29vw;
	margin-left: 17vw;
	white-space: pre-line;
}

.radio {
	font-family: "Prototype", serif;
	text-align: center;
	font-size: 15px;
	color: rgba(255, 255, 255, 0.719);
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	border-radius: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
	border: 0.0px solid grey;
	border-radius: 5px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgba(112, 45, 1, 0.8);
	border-radius: 5px;
}

*.unselectable {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
 
	/*
	  Introduced in Internet Explorer 10.
	  See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
	*/
	-ms-user-select: none;
	user-select: none;
}

*[data-tooltip] {
    position: absolute;
}

*[data-tooltip]::after {
    content: attr(data-tooltip);

    position: absolute;

	font-family:Verdana, Geneva, Tahoma, sans-serif;
	color: snow;

	display: block;
	text-align: left;
    font-size: 0.5vw;

    width: 10.4vw;
	height: fit-content;

    pointer-events: none;
    opacity: 0;
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;

    background: #000214f1;
    padding: 2px 2px;
    border: 1px solid rgb(156, 156, 156);
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.4);
}

*[data-tooltip]:hover::after {
    opacity: 1;
}

/*Filter styles*/
.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }

@font-face {
	font-family: "Prototype";
	src: url("../font/Prototype.ttf");
  }
